/* 
* @Author: Marte
* @Date:   2017-10-21 14:20:49
* @Last Modified by:   Marte
* @Last Modified time: 2017-10-24 12:25:30
*/
.user{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
/*=======================top=========================*/
.top{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/*=======================bottom======================*/
.bottom{
    width: 100%;
    height: 0.988rem;
    background: #eee;
    color:#fff;
    font-size: 0.3rem;
    line-height: 0.988rem;
    text-align: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding:0 0.2rem;
    background: #f78143;
}
.bottom .call{
    font-size: 0.24rem;
    float:left;
    display:block;
    width: 20%;
    text-align: center;
    margin-left: -0.2rem;
}
.bottom .check{
    font-size: 0.24rem;
    margin-left: 1em;
}
/*=========================left========================*/
.type{
    width: 25%;
    font-size: 0.192rem;
    line-height: 3em;
    color: #d4d4d4;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    background: url(../img/bg/bg4.jpg) no-repeat #444258;
    background-size: contain;
    background-position: 0rem 4.32rem;
    border-bottom: 1px dashed #fff;
}
.type li{
    width: 100%;
    border-bottom: 0.06em dotted #fff;
    position:relative;
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 26% 50%;    
}
.type li:nth-of-type(1){
    background-image: url(../img/bg/hot.png);
}
.type li:nth-of-type(2){
    background-image: url(../img/bg/经典回顾.png);
}
.type li:nth-of-type(3){
    background-image: url(../img/bg/冷菜.png);
}
.type li:nth-of-type(4){
    background-image: url(../img/bg/食物.png);
}
.type li:nth-of-type(5){
    background-image: url(../img/bg/饼干糕点.png);
}
.type li:nth-of-type(6){
    background-image: url(../img/bg/饮料.png);
}
.type li:nth-of-type(7){
    background-image: url(../img/bg/聚收藏.png);
    background-size: 8%;
    background-position: 5% 50%;
}
.type li.on{
    background-color: #c60000;
    color:#fff;
    border-color:#fff;
}
.type li span{
    position: absolute;
    right: 0.06rem;
    top: 0.06rem;
    display: inline-block;
    border: none;
    color: #fe524e;
    background: #fff;
    font-size: 0.188rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.32em;
    border-radius: 50%;
    padding: 0.04rem 0.1rem;
}
.type li.enters{
    color: #fff;
    text-decoration: underline;
    font-size: 0.14rem;  
    padding-left: 0.366rem;
    background-color: #595959;
    overflow: hidden;      
}
.type li.enters i{
        float:left;  
        position: relative; 
        margin-left: 0.08rem;    
}
li.enters i:nth-child(1){  
    -webkit-animation:jump 1s linear 0s infinite alternate;  
}  

li.enters i:nth-child(2){  
    -webkit-animation:jump 1s linear 0.2s infinite alternate;  
}  

li.enters i:nth-child(3){  
    -webkit-animation:jump 1s linear 0.4s infinite alternate;  
}  

li.enters i:nth-child(4){  
    -webkit-animation:jump 1s linear 0.6s infinite alternate;  
}  

li.enters i:nth-child(5){  
    -webkit-animation:jump 1s linear 0.8s infinite alternate;  
}  
li.enters i:nth-child(6){  
    -webkit-animation:jump 1s linear 1s infinite alternate;  
} 
li.enters i:nth-child(7){  
    -webkit-animation:jump 1s linear 1.2s infinite alternate;  
} 
li.enters i:nth-child(8){  
    -webkit-animation:jump 1s linear 1.4s infinite alternate;  
} 
@-webkit-keyframes jump  
{  
    0%{  
        top:0;  
        color:#fff;  
    }  
    50%{  
        top:-0.06rem;  
        color:#fafafa;  
    }  
    100%{  
        top:0.06rem;  
        color:#f1f1f1;  
    }  
}  

.type li.on span{
    background: #fe524e;
    color:#fff;
}
/*=========================right========================*/
.menu{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right:1.5%;
    background: #fafafa;
}
.food{
    float: left;
    width: 45%;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2%;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 0.12rem;
    -webkit-box-shadow: 0.02rem 0.02rem 0.06rem #666;
            box-shadow: 0.02rem 0.02rem 0.06rem #666;
    background: #fff;
    padding-top: 0.1rem;
}
.food img{
    width: 1rem;
    height: 1rem;
    margin-left: 0.08rem;
}
.food aside{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.1);
    z-index: 1099;   
}
.food aside content div{
    width: 50%;
    height: 50%;
    margin: 10% auto;
}
.food aside content div img{
    width: 100%;
    height: 100%;
}
.food aside content button{
    position: absolute;
    right: 10%;
    top: 6%;
    font-size: 0.66rem;
    background: none;
    border: 0 none;
    color: #fff;
    outline: none;
}


.food .txt{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    padding: 0.1rem;
    padding-right: 0;
    position:relative;
}
.txt .name{
    font-size: 0.222rem;
    color: #222;
    line-height: 1.5em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.txt .price{
    color:#DD0004;
    font-size: 0.22rem;
    line-height: 1.5em;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    padding-top: 0.06rem;
}
.txt .num{
    text-align: right;
    color:#f78143;
    font-size: 0;
    position: absolute;
    right: 2%;
    bottom: 10%;
    text-decoration: underline;    
}
.txt .num .click{
    border:1px solid #ddd;
    border-radius: 50%;
    display:inline-block;
    font-size: 0.18rem;
    width: 0.24rem;
    height: 0.24rem;
    line-height: 0.2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    color:#666;
}
.txt .num .click:active{
    color:#fe524e;
    border-color:#fe524e;
}
.txt .num .quan{
    font-size: 0.244rem;
    margin:0 0.5em;
}
.txt .num .add{
    color:#f78143;
    border-color:#f78143;
}
.txt .num .hidefirst{
    display:none;
}
.txt .inventory_tips{
    position: absolute;
    top: 0;
    right: 0;
    background: #FFE793;
    border: 1px solid #ECC849;
    padding-left: 0.08rem;
}
.txt .inventory_tips span{
    font-size: 0.08rem;
    color: #555;
}
.txt .inventory_tips .sold_out{
    position: absolute;
    left: -3.3rem;
    top: -0.1rem;
    right: 0;
    bottom: 0;
    width: 3.4rem;
    height: 1.22rem;
    display: block;
    background: rgba(0,0,0,0.3);
    color: #fff;
    text-align: center;
    line-height: 1.22rem;
    font-size: 0.2rem;
}
/*=======================order=======================*/
.order_shell{
    width: 75%;
    height: 100%;   
}
.order_laying{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 90;    
}
.order1{
    height: 97%;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.2rem 0.4rem 0 0.2rem;
    background: #fafafa;
    z-index: 999;
}
.order1::-webkit-scrollbar{
        width: 0;
        height: 0;
}
.order1 .close{
    display: block;
    position: fixed;
    top: 0.1rem;
    right: 0rem;
    text-align: center;
    font-size: 0.6rem;
    color: #2F4F4F;
    line-height: 1em;
    z-index: 99;
}
.order1 .li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    background: #fff;
    margin-bottom: 0.1rem;
    border-bottom: 1px dashed #ddd;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
}

.order1 .li img{
    display:block;
    width: 1rem;
    height: 1rem;
    margin: 0.08rem;
}
.order1 .txt{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.order1 .sum_box{
    position: fixed;
    box-sizing: border-box;
    height: 0.66rem;
    width: 100%;
    bottom: 1.88rem;
    left: 0;   
    background: rgba(0,0,0,0.3);     
}
.order1 .sum_box span{
    color: #f33;
    position: absolute;
    right: 2rem;
    top: 0.12rem;
    font-size: 0.288rem;
}
.order1 .sum_box .send_btn{
    display: block;
    font-size: 0.222rem;
    position: absolute;
    right: 0.22rem;
    bottom: 0.08rem;
    padding: 0.11rem 0.22rem;
    border-radius: 0.04rem;
    -webkit-box-shadow: 0.04rem 0.04rem #666;
    box-shadow: 0.04rem 0.04rem #666;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    z-index: 999;
}
